In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, distinct
import pandas as pd

In [3]:
csv_path = "../data/SnowData.csv"
df=pd.read_csv(csv_path, index_col=0)
df.head()

,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),Latitude,Longitude,County Name
0,2000-01-01,Apishapa,4.1,0.4,12.0,0.0,10000,24.0,37.33062,-105.06749,Huerfano
1,2000-01-02,Apishapa,4.1,0.0,12.0,0.0,10000,18.0,37.33062,-105.06749,Huerfano
2,2000-01-03,Apishapa,4.1,0.0,12.0,0.0,10000,6.0,37.33062,-105.06749,Huerfano
3,2000-01-04,Apishapa,4.1,0.0,15.0,3.0,10000,21.0,37.33062,-105.06749,Huerfano
4,2000-01-05,Apishapa,4.5,0.4,14.0,-1.0,10000,24.0,37.33062,-105.06749,Huerfano

In [10]:
# add in your postgres username and password with the following format:
# "<insert user name>:<insert password>@localhost:5432/pollution_db"
# rds_connection_string = "postgres://mnaxahwxxlsupb:82ba661b23abc055281f8b75926dee77b960380953d91b0529fe16e0ed78f832@ec2-54-163-97-228.compute-1.amazonaws.com:5432/dajiaraierf0ld"
rds_connection_string = "postgres://postgres:postgres@localhost:5432/testdb"
engine = create_engine(rds_connection_string)

In [11]:
engine.table_names()

['snow_weather']

In [23]:
list(df.columns)

['Date',
 'Station Name',
 'Snow Water Equivalent (in) Start of Day Values',
 'Change In Snow Water Equivalent (in)',
 'Snow Depth (in) Start of Day Values',
 'Change In Snow Depth (in)',
 'Elevation (ft)',
 'Air Temperature Average (degF)',
 'Latitude',
 'Longitude',
 'County Name']

In [20]:
df.dtypes

Date                                               object
Station Name                                       object
Snow Water Equivalent (in) Start of Day Values    float64
Change In Snow Water Equivalent (in)              float64
Snow Depth (in) Start of Day Values               float64
Change In Snow Depth (in)                         float64
Elevation (ft)                                      int64
Air Temperature Average (degF)                    float64
Latitude                                          float64
Longitude                                         float64
County Name                                        object
dtype: object

In [21]:
# df['Date'] = pd.to_numeric(df.Date.str.replace('-',''))
# df

,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),Latitude,Longitude,County Name
0,20000101,Apishapa,4.1,0.4,12.0,0.0,10000,24.0,37.33062,-105.06749,Huerfano
1,20000102,Apishapa,4.1,0.0,12.0,0.0,10000,18.0,37.33062,-105.06749,Huerfano
2,20000103,Apishapa,4.1,0.0,12.0,0.0,10000,6.0,37.33062,-105.06749,Huerfano
3,20000104,Apishapa,4.1,0.0,15.0,3.0,10000,21.0,37.33062,-105.06749,Huerfano
4,20000105,Apishapa,4.5,0.4,14.0,-1.0,10000,24.0,37.33062,-105.06749,Huerfano
...,...,...,...,...,...,...,...,...,...,...,...
814973,20210513,Zirkel,10.3,0.2,21.0,2.0,9340,46.0,40.79488,-106.59535,Jackson
814974,20210514,Zirkel,8.4,-1.9,18.0,-3.0,9340,45.0,40.79488,-106.59535,Jackson
814975,20210515,Zirkel,7.2,-1.2,17.0,-1.0,9340,46.0,40.79488,-106.59535,Jackson
814976,20210516,Zirkel,6.1,-1.1,15.0,-2.0,9340,45.0,40.79488,-106.59535,Jackson
814977,20210517,Zirkel,5.0,-1.1,12.0,-3.0,9340,42.0,40.79488,-106.59535,Jackson

In [22]:
df.dtypes

Date                                                int64
Station Name                                       object
Snow Water Equivalent (in) Start of Day Values    float64
Change In Snow Water Equivalent (in)              float64
Snow Depth (in) Start of Day Values               float64
Change In Snow Depth (in)                         float64
Elevation (ft)                                      int64
Air Temperature Average (degF)                    float64
Latitude                                          float64
Longitude                                         float64
County Name                                        object
dtype: object

In [7]:
new_columns=[
    'date', 'station_name', 'snow_water_equiv_start_of_day', 'change_in_snow_water_equiv', 'snow_depth_start_of_day',
    'change_in_snow_depth', 'elevation', 'air_temp_avg', 'lat', 'lon','county_name'
]

df.columns=new_columns
df.head()

,date,station_name,snow_water_equiv_start_of_day,change_in_snow_water_equiv,snow_depth_start_of_day,change_in_snow_depth,elevation,air_temp_avg,lat,lon,county_name
0,2000-01-01,Apishapa,4.1,0.4,12.0,0.0,10000,24.0,37.33062,-105.06749,Huerfano
1,2000-01-02,Apishapa,4.1,0.0,12.0,0.0,10000,18.0,37.33062,-105.06749,Huerfano
2,2000-01-03,Apishapa,4.1,0.0,12.0,0.0,10000,6.0,37.33062,-105.06749,Huerfano
3,2000-01-04,Apishapa,4.1,0.0,15.0,3.0,10000,21.0,37.33062,-105.06749,Huerfano
4,2000-01-05,Apishapa,4.5,0.4,14.0,-1.0,10000,24.0,37.33062,-105.06749,Huerfano

In [26]:
df.to_csv(r'../data/clean_snow_for_sql.csv', index=False)

In [14]:
# from sqlalchemy.orm import Session
# session = Session(bind=engine)

In [16]:
df.to_sql(name='snow_data', con=engine, if_exists='append', index=False)

In [ ]:
.002316920594