In [1]:
from sklearn import tree
import pandas as pd
import os
import numpy as np

In [2]:
df = pd.read_csv(os.path.join("../data/bulk_data.csv"))
# df=df.replace([np.inf, -np.inf], np.nan, inplace=True)
df=df.fillna(0)
df.head()

,Unnamed: 0,Unnamed: 0_x,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),...,Precipitation Accumulation (in) Start of Day Values,Precipitation Increment (in),Precipitation Increment - Snow-adj (in),Precipitation Month-to-date (in),Solar Radiation Average (watt/m2),Soil Temperature Observed -2in (degF) Start of Day Values,Soil Temperature Observed -4in (degF) Start of Day Values,Soil Temperature Observed -8in (degF) Start of Day Values,Soil Temperature Observed -20in (degF) Start of Day Values,Soil Temperature Observed -40in (degF) Start of Day Values
0,0,0.0,2000-01-01,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,...,7.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1.0,2000-01-02,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,...,7.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2.0,2000-01-03,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,...,7.4,0.3,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,3.0,2000-01-04,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,...,7.7,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,4.0,2000-01-05,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,...,7.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# df=df[df['Station Name']== "Buffalo Park"]
# df

In [4]:
df['Change In Snow Depth (in)'].describe()

count    799149.000000
mean         -0.014992
std          10.767195
min        -340.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         341.000000
Name: Change In Snow Depth (in), dtype: float64

In [5]:
bins = [-340, -60, -12, -6, -3, 0,  3, 6, 12, 24, 60, 341]
labels = ['melting 28ft-5ft',' melting 5ft-1ft','melting 12in-6in', 'melting 6in-3in',
         'melting 3in-0in', '0in-3in', '3in-6in', '6in-12in', '12in-24in', '2ft-5ft','5ft-28ft']
df['binned'] = pd.cut(df['Change In Snow Depth (in)'], bins=bins, labels=labels)
df

,Unnamed: 0,Unnamed: 0_x,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),...,Precipitation Increment (in),Precipitation Increment - Snow-adj (in),Precipitation Month-to-date (in),Solar Radiation Average (watt/m2),Soil Temperature Observed -2in (degF) Start of Day Values,Soil Temperature Observed -4in (degF) Start of Day Values,Soil Temperature Observed -8in (degF) Start of Day Values,Soil Temperature Observed -20in (degF) Start of Day Values,Soil Temperature Observed -40in (degF) Start of Day Values,binned
0,0,0.0,2000-01-01,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,melting 3in-0in
1,1,1.0,2000-01-02,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,melting 3in-0in
2,2,2.0,2000-01-03,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,...,0.3,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,melting 3in-0in
3,3,3.0,2000-01-04,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,...,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0in-3in
4,4,4.0,2000-01-05,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,melting 3in-0in
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799144,799144,814836.0,2020-12-27,Zirkel,6.0,0.4,25.0,3.0,9340.0,19.0,...,0.2,0.2,0.0,0.0,33.0,0.0,34.0,35.0,0.0,0in-3in
799145,799145,814837.0,2020-12-28,Zirkel,6.2,0.2,31.0,6.0,9340.0,17.0,...,0.5,0.5,0.0,0.0,33.0,0.0,34.0,35.0,0.0,3in-6in
799146,799146,814838.0,2020-12-29,Zirkel,6.7,0.5,32.0,1.0,9340.0,16.0,...,0.0,0.0,0.0,0.0,33.0,0.0,34.0,35.0,0.0,0in-3in
799147,799147,814839.0,2020-12-30,Zirkel,6.7,0.0,32.0,0.0,9340.0,15.0,...,0.0,0.0,0.0,0.0,33.0,0.0,34.0,35.0,0.0,melting 3in-0in
799148,799148,814840.0,2020-12-31,Zirkel,6.7,0.0,30.0,-2.0,9340.0,22.0,...,0.0,0.0,0.0,0.0,33.0,0.0,34.0,35.0,0.0,melting 3in-0in

In [6]:
# df['Change In Snow Depth (in)'].unique()

In [7]:
target = df['binned']
one_hot3 = pd.get_dummies(target)
target_names = ['melting 28ft-5ft',' melting 5ft-1ft','melting 12in-6in', 'melting 6in-3in',
         'melting 3in-0in', '0in-3in', '3in-6in', '6in-12in', '12in-24in', '2ft-5ft','5ft-28ft']

In [8]:
one_hot3

,melting 28ft-5ft,melting 5ft-1ft,melting 12in-6in,melting 6in-3in,melting 3in-0in,0in-3in,3in-6in,6in-12in,12in-24in,2ft-5ft,5ft-28ft
0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
799144,0,0,0,0,0,1,0,0,0,0,0
799145,0,0,0,0,0,0,1,0,0,0,0
799146,0,0,0,0,0,1,0,0,0,0,0
799147,0,0,0,0,1,0,0,0,0,0,0
799148,0,0,0,0,1,0,0,0,0,0,0

In [9]:
target

0         melting 3in-0in
1         melting 3in-0in
2         melting 3in-0in
3                 0in-3in
4         melting 3in-0in
               ...
799144            0in-3in
799145            3in-6in
799146            0in-3in
799147    melting 3in-0in
799148    melting 3in-0in
Name: binned, Length: 799149, dtype: category
Categories (11, object): [melting 28ft-5ft < melting 5ft-1ft < melting 12in-6in < melting 6in-3in ... 6in-12in < 12in-24in < 2ft-5ft < 5ft-28ft]

In [10]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df.head()

,Date,Station Name,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Change In Snow Depth (in),Elevation (ft),Air Temperature Average (degF),Latitude,Longitude,...,Precipitation Increment (in),Precipitation Increment - Snow-adj (in),Precipitation Month-to-date (in),Solar Radiation Average (watt/m2),Soil Temperature Observed -2in (degF) Start of Day Values,Soil Temperature Observed -4in (degF) Start of Day Values,Soil Temperature Observed -8in (degF) Start of Day Values,Soil Temperature Observed -20in (degF) Start of Day Values,Soil Temperature Observed -40in (degF) Start of Day Values,binned
0,2000-01-01,Apishapa,4.1,0.4,12.0,0.0,10000.0,24.0,37.33062,-105.06749,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,melting 3in-0in
1,2000-01-02,Apishapa,4.1,0.0,12.0,0.0,10000.0,18.0,37.33062,-105.06749,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,melting 3in-0in
2,2000-01-03,Apishapa,4.1,0.0,12.0,0.0,10000.0,6.0,37.33062,-105.06749,...,0.3,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,melting 3in-0in
3,2000-01-04,Apishapa,4.1,0.0,15.0,3.0,10000.0,21.0,37.33062,-105.06749,...,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0in-3in
4,2000-01-05,Apishapa,4.5,0.4,14.0,-1.0,10000.0,24.0,37.33062,-105.06749,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,melting 3in-0in

In [11]:
dates=df['Date'].astype('datetime64[ns]')
dates=dates.dt.dayofyear
df['Date']=dates
# one_hot = pd.get_dummies(df['Station Name'])
one_hot2 = pd.get_dummies(df['binned'])
# Drop column as it is now encoded
df1 = df.drop(['Station Name','County Name'],axis = 1)
df1 = df1.drop(['binned'],axis = 1)
# Join the encoded df
# testing_df = df1.join(one_hot)
testing_df = df1.join(one_hot2)

In [12]:
data = testing_df.drop(['Change In Snow Depth (in)','melting 28ft-5ft',' melting 5ft-1ft','melting 12in-6in', 'melting 6in-3in',
         'melting 3in-0in', '0in-3in', '3in-6in', '6in-12in', '12in-24in', '2ft-5ft','5ft-28ft', 'County Name'], axis=1)
feature_names = data.columns
data.head()

,Date,Snow Water Equivalent (in) Start of Day Values,Change In Snow Water Equivalent (in),Snow Depth (in) Start of Day Values,Elevation (ft),Air Temperature Average (degF),Latitude,Longitude,Station Id,Air Temperature Observed (degF) Start of Day Values,...,Vail Mountain,Vallecito,Wager Gulch,Weminuche Creek,Whiskey Ck,Wild Basin,Willow Creek Pass,Willow Park,Wolf Creek Summit,Zirkel
0,1,4.1,0.4,12.0,10000.0,24.0,37.33062,-105.06749,303,31.0,...,0,0,0,0,0,0,0,0,0,0
1,2,4.1,0.0,12.0,10000.0,18.0,37.33062,-105.06749,303,19.0,...,0,0,0,0,0,0,0,0,0,0
2,3,4.1,0.0,12.0,10000.0,6.0,37.33062,-105.06749,303,13.0,...,0,0,0,0,0,0,0,0,0,0
3,4,4.1,0.0,15.0,10000.0,21.0,37.33062,-105.06749,303,1.0,...,0,0,0,0,0,0,0,0,0,0
4,5,4.5,0.4,14.0,10000.0,24.0,37.33062,-105.06749,303,27.0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# data.round(6)

In [14]:
# pd.set_option('display.max_rows', 139)

In [15]:
data=data.drop(['Latitude','Longitude'], axis=1)

In [16]:
# list(data.dtypes)

In [29]:
data=data.astype(int)

In [30]:
data.dtypes

Date                                              int32
Snow Water Equivalent (in) Start of Day Values    int32
Change In Snow Water Equivalent (in)              int32
Snow Depth (in) Start of Day Values               int32
Elevation (ft)                                    int32
                                                  ...
Wild Basin                                        int32
Willow Creek Pass                                 int32
Willow Park                                       int32
Wolf Creek Summit                                 int32
Zirkel                                            int32
Length: 134, dtype: object

In [31]:
from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(data, one_hot3, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [32]:
# X_test.fillna(X_test.mean())
# X_train.fillna(X_train.mean())

In [33]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_train, y_train)
# clf.score(X_test, y_test)

0.9999849840079685

In [27]:
X_train

[dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8')]

In [22]:
clf.score(X_test, y_test)

TypeError: '<' not supported between instances of 'str' and 'float'

In [24]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=20)
rf = rf.fit(X_train, y_train)
# rf.score(X_test, y_test)

In [ ]:
# y_train

In [ ]:
predictions =clf.predict_proba(X_test)

In [ ]:
print(predictions)
len(predictions)

In [ ]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

In [ ]:
y_test

In [ ]:
X_test.iloc[0]

In [ ]:
X_test.columns

In [ ]:
# import pickle
# clf_name='d_tree_range_modle.sav'
# rf_name='rf_range_model.sav'
# pickle.dump(clf, open(clf_name, 'wb'))
# pickle.dump(rf, open(rf_name, 'wb'))